.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: pink;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 5px;
  z-index: 1;
}
mat-toolbar {
  height: 50px;
  background: #4682B4;
}
button {
  background: #4682B4;
}
