<app-main-nav>
  <router-outlet></router-outlet>
  <footer class="footer">
    <ul class="list">
      <li class="list-item">
        <a
          [routerLink]="['/']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
        >Home</a>
      </li>
      <li class="list-item"><a [routerLink]="['/map']" routerLinkActive="active">Map</a></li>
      <li class="list-item"><a [routerLink]="['/contact']" routerLinkActive="active">Contact</a></li>
    </ul>
  </footer>
</app-main-nav>








