<app-main-nav>

  <div class="container">

    <mat-grid-list [cols]="3">
      <mat-grid-tile><a href="#">1</a></mat-grid-tile>
      <mat-grid-tile><a href="#">2</a></mat-grid-tile>
      <mat-grid-tile><a href="#">3</a></mat-grid-tile>
      <mat-grid-tile><a href="#">4</a></mat-grid-tile>
      <mat-grid-tile><a href="#">5</a></mat-grid-tile>
      <mat-grid-tile><a href="#">6</a></mat-grid-tile>
      <mat-grid-tile><a href="#">7</a></mat-grid-tile>
    </mat-grid-list>

    <app-footer></app-footer>
  </div>

</app-main-nav>

